---
// Data
import type { Feature } from "../lib/data/site-data";
import { homepage, caseStudies, testimonials } from "../lib/data/site-data";

import Base from "../layouts/Base.astro";
import FAQ from "../components/FAQ.astro";
---

<Base
  isHome
  pageTitle="OrcheWeb"
  pageDescription="A unique fixed monthly subscription service to cover all your web development needs. No hidden fees. Cancel anytime."
>
  <section class="bg-jungle-green">
    <div class="main-container">
      <div class="pt-16 pb-32 space-y-6">
        <h1 class="sm:w-10/12 text-light-cyan">
          Get your website done with less headache and more success.
        </h1>
        <p class="text-2xl sm:w-8/12 text-light-cyan">
          A unique fixed monthly subscription service to cover all your web
          development needs.
        </p>
        <p class="text-xl font-bold opacity-75 sm:w-8/12 text-light-cyan">
          No surprises, no hidden fees. Cancel anytime.
        </p>

        <a
          href="#pricing"
          class="action-default bg-light-cyan text-jungle-green shadow-default"
          >See Pricing</a
        >
      </div>
    </div>
  </section>

  <section class="py-16 pt-32 space-y-16 main-container" id="cases-studies">
    <h2>Take a loot at what we've been working on recently</h2>

    {
      caseStudies.map((caseStudy) => {
        return (
          <>
            <div class="flex flex-col shadow-xl lg:flex-row bg-light-cyan">
              <div class="basis-7/12">
                <img
                  src={caseStudy.content.featuredImage.filename}
                  alt={caseStudy.content.featuredImage.alt}
                  width="719"
                  height="441"
                  loading="lazy"
                />
              </div>

              <div class="p-8 space-y-4 sm:p-12 basis-5/12">
                <h3 class="text-2xl sm:text-3xl">{caseStudy.content.title}</h3>
                <div set:html={caseStudy.content.description} />
                <a
                  href={caseStudy.content.websiteUrl.url}
                  class="flex text-lg font-bold link-default"
                  target="_blank"
                >
                  Check the website here &#8599;
                </a>
              </div>
            </div>
          </>
        );
      })
    }
  </section>

  <section class="py-16 space-y-16 main-container" id="pricing">
    <div class="space-y-4">
      <h2>
        Unique pricing plan at <span class="text-ruby-red">$3500/month</span>
      </h2>

      <div class="space-y-4 sm:w-9/12">
        <p>
          We offer a <strong>unique pricing plan</strong> that covers our full range
          of services. You don't need to struggle deciding which plan to choose,
          and you know exactly what you will get.
        </p>
        <p>
          You can pause or cancel your subscription anytime. Read our <a
            href="#faqs"
            class="link-default">FAQs</a
          > for more details
        </p>
      </div>

      <a
        href="https://www.paypal.com/webapps/billing/plans/subscribe?plan_id=P-24G80527LX011272TMMBB3EY"
        class="action-default text-light-cyan bg-jungle-green shadow-dark"
        target="_blank">Get Started</a
      >
    </div>

    <div class="space-y-8">
      <h3>What's included</h3>
      <div class="grid gap-8 sm:grid-cols-2">
        {
          homepage.features.map((feature: Feature) => {
            return (
              <div class="p-8 space-y-2 border border-gray-400 feature">
                <img
                  class="w-16 h-16"
                  src={feature.icon.filename}
                  alt={feature.icon.alt}
                />
                <h4 class="text-3xl">{feature.title}</h4>
                <div
                  class="space-y-2 description"
                  set:html={feature.description}
                />
              </div>
            );
          })
        }
      </div>
    </div>
  </section>

  <section class="py-16 space-y-8 main-container" id="faqs">
    <h2>FAQs</h2>

    <FAQ />

    <a
      href="https://www.paypal.com/webapps/billing/plans/subscribe?plan_id=P-24G80527LX011272TMMBB3EY"
      class="action-default text-light-cyan bg-jungle-green shadow-dark"
      target="_blank">Get Started</a
    >
  </section>

  <section class="py-32 bg-light-cyan text-jungle-green" id="textimonials">
    <div class="space-y-16 main-container">
      <h2>
        Don't just take our word for it. See what others are saying about us.
      </h2>

      <div class="grid grid-cols-1 gap-16 lg:grid-cols-2">
        {
          testimonials.map((testimonial) => {
            return (
              <div class="bg-white shadow-md single-testimonial">
                <img
                  src={testimonial.content.author_picture.filename}
                  alt={testimonial.content.author_picture.alt}
                  height="600"
                  width="600"
                  loading="lazy"
                />
                <div class="p-8 space-y-4 sm:p-16">
                  <div class="space-y-2">
                    <Fragment set:html={testimonial.content.testimonial} />
                  </div>

                  <div class="space-y-1">
                    <h3 class="text-2xl">{testimonial.content.author_name}</h3>
                    <p class="text-lg">
                      {" "}
                      {testimonial.content.author_role} at{" "}
                      {testimonial.content.author_company}
                    </p>
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </section>
</Base>
